<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FOWA London Example</title>
    <link href="/stylesheets/flutie.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <script src="/javascripts/vendor/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/javascripts/vendor/underscore.js" type="text/javascript"></script>
    <script src="/javascripts/vendor/backbone.js" type="text/javascript"></script>
    <script src="/javascripts/templates.js" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>
    <script src="/javascripts/models/task.js" type="text/javascript"></script>
    <script src="/javascripts/collections/tasks.js" type="text/javascript"></script>
    <script src="/javascripts/routers/tasks.js" type="text/javascript"></script>
    <script src="/javascripts/views/tasks.js" type="text/javascript"></script>
    <script src="/javascripts/views/task.js" type="text/javascript"></script>
    <script src="/javascripts/views/task_detail.js" type="text/javascript"></script>

    <%= yield %>
  </body>
</html>
